.section {
    width: 400px;
    padding: 0px 36px 20px;
}
section:hover {
    cursor: pointer;
}

.button1 {
    background-color: #4267b2;
    border: 1px solid #4267b2;
}

.logo1 {
    width: 22px;
    height: 20px;
    background-color: white;
    color: #4267b2;
    border-radius: 100%;
}

.button3 {
    background-color: #1dbf73;
}

.button3:hover {
    background-color: #168f56;
}
.aaa {
    color: #1dbf73
}
